.aboutuscolor{
    margin-top: 30px ;
    color: whitesmoke;
}

.tamaño{
    width: 200px;
}

.background{
    background-color:rgba(0, 0, 0, 0.75);
    background-size: contain;
}

.tituloabout{
    display: flex;
    justify-content: center;
}

.box{
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

p{
    font-size: 25px;
}