.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    text-shadow: 1px 2px black;
    color: white;
    backface-visibility: visible;
    font-style: oblique;
    margin-top: 60px;
}

h3{
    margin-top: 30px;
    margin-bottom: 20px;
    margin: 30px 10px 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 22px;
    font-style: oblique;
}

.citacion{
    background-color:rgba(0, 0, 0, 0.75);
    border-radius: 8px;
}

.boxTitulo{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*
Posibles fuentes:
'Trebuchet MS'
'sans-serif'
'Lucida Sans Regular'
'Geneva'
'Times New Roman'
*/

/*.boxTitulo{
    background-color: black;
}*/