/*Fondo.jsx*/
body{
    background: center;
    background: fixed;
    background-image: url(/src/img/wallpaper.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}


/*ActivitiesSlider.jsx*/
.slider{
    height: 300px;
}

.letras{
    color: white;
}

@media (max-width: 657px){
    img{
        display: flex;
        justify-content: center;

    }
}